body{
    font-family: "Roboto", sans-serif !important; 
  font-weight: 500 !important;
  font-style: normal !important;
  background-color: #ff0037 !important;
}
.Sunshine{
    font-family: "Qwitcher Grypen", static;
    font-weight: 700;
    font-size: 50px;
    text-decoration:none;
    color: white;
}

.a{
    
   text-decoration:none;
   color: rgba(255, 255, 255, 0.568);
}

li{
    list-style: none;
}

nav{
    margin: 40px auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#Navbar-menu ul{
    display: flex;
    justify-content: space-between;
}
li{
    margin: 20px;
}
#main{
    display: flex;
    flex-direction: column;
    width: 500px;
}
#for-h1{
    display: flex;
    justify-content: center;
}
#bothofrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buttonlogin{
    display: flex;
    justify-content: center;
}
#login{
    display: flex;
    width: auto;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#price{
    display: flex;
    justify-content: center;
}
