.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    padding: 10px;
    border-radius: 10px;
}
.item{
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#a {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: yellow;
}
#b {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: red;
}
#c {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
#f {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}
#g {
    background-color: yellow;
}
#h {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
#i {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: red;
}
#j {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}
#k {
    grid-column-start: 5;
    grid-column-end: 8; 
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: red;
}

#l {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

#m{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: yellow;
}
#n {
    grid-column-start: 5;
    grid-column-end: 8; 
    grid-row-start: 7;
    grid-row-end: 8;
}